<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuum.csaccountseventsconsumer.mapper.TransactionMapper">

    <resultMap id="TransactionResultMap" type="com.tuum.common.domain.entities.Transaction">
        <id column="transaction_id" property="transactionId"/>
        <result column="account_id" property="accountId"/>
        <result column="balance_id" property="balanceId"/>
        <result column="amount" property="amount"/>
        <result column="currency" property="currency" typeHandler="com.tuum.common.util.CurrencyTypeHandler"/>
        <result column="direction" property="direction" typeHandler="com.tuum.common.util.DirectionTypeHandler"/>
        <result column="description" property="description"/>
        <result column="balance_after_transaction" property="balanceAfterTransaction"/>
        <result column="status" property="status" typeHandler="com.tuum.common.util.StatusTypeHandler"/>
        <result column="idempotency_key" property="idempotencyKey"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="insertTransaction" parameterType="com.tuum.common.domain.entities.Transaction">
        INSERT INTO transactions (transaction_id, account_id, balance_id, amount, currency, direction, description, balance_after_transaction, status, idempotency_key, created_at, updated_at)
        VALUES (#{transactionId}, #{accountId}, #{balanceId}, #{amount}, #{currency}, #{direction}, #{description}, #{balanceAfterTransaction}, #{status}, #{idempotencyKey}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="findTransactionById" resultMap="TransactionResultMap">
        SELECT transaction_id, account_id, balance_id, amount, currency, direction, description, balance_after_transaction, status, idempotency_key, created_at, updated_at
        FROM transactions
        WHERE transaction_id = #{transactionId}
    </select>

    <select id="existsTransactionById" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM transactions WHERE transaction_id = #{transactionId})
    </select>

    <select id="existsTransactionByIdempotencyKey" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM transactions WHERE idempotency_key = #{idempotencyKey})
    </select>

    <select id="findTransactionByIdempotencyKey" resultMap="TransactionResultMap">
        SELECT transaction_id, account_id, balance_id, amount, currency, direction, description, balance_after_transaction, status, idempotency_key, created_at, updated_at
        FROM transactions
        WHERE idempotency_key = #{idempotencyKey}
    </select>

</mapper> 